<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragment :: head('Home')}"></head>

<body>

    <header th:replace="~{fragment :: header}"></header>

    <div class="container">

        <div id="div-nav" class="mt-4 mb-3">
            <div id="chart-usuarios" style="border: solid 1px #ccc;"></div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Pesquisas</h5>
                    <p class="card-text">Quantidade de pessoas que realizaram a pesquisa.</p>
                    <input type="button" value="0" class="btn btn-primary btn-lg" id="contador-pesquisas">
                </div>
            </div>
        </div>

        <div id="accordion" class="mt-5 mb-3">

            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            Pesquisa Dev Jr.
                        </button>
                    </h5>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <div id="jr"></div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                            aria-expanded="false" aria-controls="collapseTwo">
                            Pesquisa Dev Jedi
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        <div id="sr"></div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                            aria-expanded="false" aria-controls="collapseThree">
                            Pesquisa Tech Recruiter
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        <div id="rh"></div>
                    </div>
                </div>
            </div>

        </div>

        <div class="container mt-5 mb-3" style="font-size: .8em;">
            <p class="card-text">Devloped by <a href="https://github.com/DanielSBaumann">Daniel Baumann</a></p>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>

        /*Contador*/
        $(document).ready(function () {
            $.ajax({
                url: '/contador',
                type: 'POST',
                success: function (responseText) {
                    $("#contador-pesquisas").val(responseText);
                },
                error: function () {
                    console.log('falha ao utilizar contador');
                }
            });
        });
        /*Contador*/

        /*Chart categoria*/
        $.ajax({
            url: '/qtdporcategoria',
            type: 'POST',
            success: function (responseText) {
                chartCategoria(JSON.parse(responseText));
            },
            error: function () {
            }
        });

        function chartCategoria(cat) {
            google
                .charts
                .load('current', { 'packages': ['corechart'] });
            google
                .charts
                .setOnLoadCallback(
                    function () {
                        drawChartCategoria(cat);
                    }
                );

        }

        function drawChartCategoria(categoria) {
            const container = document.querySelector('#chart-usuarios')
            const data = new google.visualization.arrayToDataTable([
                ['Categoria', 'Quantidade'],
                [categoria[0].categoria, categoria[0].qtd],
                [categoria[1].categoria, categoria[1].qtd],
                [categoria[2].categoria, categoria[2].qtd]
            ])
            const options = {
                title: 'Categorias da pesquisa'
            }
            const chart = new google.visualization.PieChart(container)
            chart.draw(data, options);
        }
        /*Chart categoria*/

        /*Charts de pesquisa*/
        $.ajax({
            url: '/chart',
            type: 'POST',
            success: function (responseText) {
                chartPesquisa(JSON.parse(responseText));
            },
            error: function () {
                console.log('falha ao montar charts de pesquisa');
            }
        });

        function chartPesquisa(pesquisa) {
            let questoesJR = pesquisa[0].questoes;
            let questoesSR = pesquisa[1].questoes;
            let questoesRH = pesquisa[2].questoes;

            questoesJR.forEach(element => {
                chart(element, "jr")
            });

            questoesSR.forEach(element => {
                chart(element, "sr")
            });

            questoesRH.forEach(element => {
                chart(element, "rh")
            });
        }

        function chart(questao, cat) {
            google.charts.load('current', { 'packages': ['corechart'] });
            google.charts.setOnLoadCallback(
                function () {
                    draw(questao.enunciado, questao.respostas, cat);
                }
            );
        }

        function draw(enunciado, respostas, categoria) {
            let dataTable = new google.visualization.DataTable();
            dataTable.addColumn('string', 'Resposta');
            dataTable.addColumn('number', 'Qtd');

            respostas.forEach(element => {
                dataTable.addRow([element.resposta, element.qtdVezesRespondido]);
            });

            let options = {
                title: enunciado,
                height: 380,
                width: 360
            }

            $("#" + categoria).append("<div class='" + categoria + "-q'></div>");

            let container = document.querySelector('.' + categoria + '-q:last-child')
            let chart = new google.visualization.PieChart(container);
            //PieChart
            //ColumnChart
            chart.draw(dataTable, options);
        }
        /*Charts de pesquisa*/


    </script>

</body>

</html>